html {
    background:#fff;
    -webkit-font-smoothing: antialiased;

    /* Inflate text size on mobiles by full increments only */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Sam's Grid System: http://samsoff.es/posts/my-grid-system */
/* Implemented using Frameless Grid */
.wrapper, .row {
    overflow: hidden;
    margin:0 auto;
    max-width: $cols15;
}
.row > div {
    float:left;
    width: $cols5;
	
	img {
	  display: block;
	}
}
